/* .each-item {
    cursor: pointer;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
    height: 34rem;
}

.each-item .img-wrapper img {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    object-fit: contain;



}

.each-item {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
}

.img-wrapper {
    display: block;
    margin-top: 15px;
    height: 14rem;
}

.each-item .img-wrapper {
    overflow: hidden;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-wrapper .brand-name {
    font-size: 16px;
    font-weight: 500;
    margin: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
}

.brand-name {
    word-wrap: unset;
    width: 15rem;
}


.content-wrapper {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.content-wrapper .b-d-price {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.content-wrapper .b-price {
    font-size: 12px;

    margin-left: 5px;
    font-weight: 400;
    text-decoration: line-through;
}

.content-wrapper .b-rating {
    color: red;

    font-size: 12px;
    margin-left: 5px;
    font-weight: 400;
}

.price_rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
    margin: 0 12px 6px;
    line-height: 160%;
}

.bg {

    display: flex;
    gap: 0.6rem;


}

.bg .b-rating {
    display: flex;
    align-items: center;
    font-size: 16px;

    padding: 7px;
    border-radius: 5px;
    color: white;
    background-color: green;

}


h5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content-wrapper .add-to-cart-btn {
    border-radius: 0;
    padding: 12px 15px;
    font-weight: 500;
    cursor: pointer;
    background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
    color: #fff;
    text-align: center;
    width: auto;
    margin: 0 auto;
    margin-bottom: 15px;
}



 */


















.productMain-box {
    margin-bottom: 20px;
    padding: 0px 20px 0px 0px;
}

.product-box {
    height: 100%;
    width: 236px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 1px solid rgb(240, 240, 240);
}

.product-img-box {
    position: relative;
    height: 232px;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.product-img-box img {
    position: absolute;
    height: 100%;
    max-width: 230px;
    inset: 0px;
    object-fit: contain;
    color: transparent;
}

.product-content {
    min-height: 172px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 12px;
}

.product-content-one {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.product-span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(244, 51, 151);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-family: "Mier book";
    margin: 0px;
    padding: 0px;
}

.product-span p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(153, 153, 153);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: "Mier book";
    margin: 0px;
    padding: 0px;
}

.span-div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding-top: 12px;
}

.span-div h5 {
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-family: "Mier bold";
    margin: 0px;
    padding: 0px;
}

.span-div span {
    color: rgb(153, 153, 153);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    font-family: "Mier demi";
    margin: 0px;
    padding: 0px;
}

.delivery {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding-top: 12px;
}

.delivery-box {
    pointer-events: none;
    color: rgb(102, 102, 102);
    background: rgb(249, 249, 249);
    padding: 4px 8px;
    border-radius: 48px;
    display: inline-flex;
}

.delivery-text {
    color: rgb(102, 102, 102);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    font-family: "Mier demi";
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.rating-box {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding-top: 12px;
}

.rating {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 16px;
    padding: 4px 8px;
    background: rgb(35, 187, 117);
    fill: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-family: "Mier demi";
    margin: 0px;
    /* padding: 0px; */
}

.review {
    padding: 0px 4px;
    color: rgb(153, 153, 153);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    font-family: "Mier demi";
    margin: 0px;
}

@media screen and (max-width: 450px) {
    .productMain-box {
        margin-bottom: 20px;
        padding: 0px 0px 0px 0px;
    }

    .product-box {
        height: 100%;
        width: 157px;
    }
}